/* styles.css */

/* Add your custom styles here */
body {
  background-color: #CCCCFF
;
}

.container {
  margin-top: 50px;
}

/* Customize the navigation bar */
.navbar-brand {
  font-size: 40px;

}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Customize buttons */
.btn-primary {
  background-color: white;
  border-color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    margin-top: 20px;
  }
}
